.main-header {
    font-family: $font-family-big;
    font-weight: $font-weight-big;
    font-size: $font-size-big;
    margin: 0 $pad-med;
}

.sub-header {
    margin: $pad-med;
    font-size: $font-size-med;
}
